
<div class="row">
  <div class="col">
    <h1 class="display-4">Springfield Recreation centre</h1>
    <br>

    <h3>Spring Classes 2018</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Class name</th>
          <th>Description</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Days of week</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Underwater Basket Weaving</td>
          <td>A skill you'll likely need in the wild</td>
          <td>08:00</td>
          <td>12:00</td>
          <td>MWF</td>
        </tr>
        <tr>
          <td>Handball</td>
          <td>An overlooked sport which will get your cardio up!</td>
          <td>14:00</td>
          <td>16:00</td>
          <td>MWF</td>
        </tr>
        <tr>
          <td>Basketball</td>
          <td>Coach Nash will teach you the tips you need to take it to the hoop!</td>
          <td>11:00</td>
          <td>14:00</td>
          <td>TR</td>
        </tr>
        <tr>
          <td>Bob Ross painting</td>
          <td>We'll focus on portraits of Bob Ross this semester</td>
          <td>19:00</td>
          <td>22:00</td>
          <td>TR</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Want to sign up for class updates? Add your info here!</h4>
        <%= render 'contacts/form' %>
      </div>
    </div>
    
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <%= link_to 'Contacts(Admins only!)', contacts_path %>
  </div>
</div>

